@page "/"

<h1>Blazor WebAssembly! (preview)</h1>

<ul>
    <li>Runs ont browsers / engines that support WebAssembly</li>
    <li>Uses WebAssembly Host</li>
    <li>Data Binding</li>
    <li>Progressive Web-Apps Support</li>

</ul>
<SurveyPrompt Title="How is Blazor working for you?" />

https://docs.microsoft.com/en-us/aspnet/core/blazor/components?view=aspnetcore-3.0