@page "/"

<h1>Blazor Server!</h1>

<ul>
    <li>Uses SignalR</li>
    <li>Razor Components</li>
    <li>Server side Rendering</li>
    <li>Dependency Injection and Component Routing</li>
    <li>ServerSideBlazor added as a service</li>
</ul>

https://docs.microsoft.com/en-us/aspnet/core/blazor/components?view=aspnetcore-3.0